@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/header";

@import "pages/home";

  /* Website Responsiveness */
  @media (max-width: 1200px) {
    html {
      font-size: 8.5px;
    } 
   }
  @media (max-width: 980px) {
    html {
      font-size: 8px;
    }
    .logo {
      max-width: 10%;
    }
  }
  @media (max-width: 810px) {
    html {
      font-size: 7.5px;
    }
  }
  @media (max-width: 650px) {
    html {
      font-size: 7px;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 6px;
    }
  }
  
  @media (max-width: 330px) {
    html {
      font-size: 5.5px;
    }
  }
  