@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/header";

@import "pages/home";


.about {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to bottom,
        rgba($color-primary, 0.3),
        rgba($color-primary, 0.95)
      ),
      url(../img/about.jpg);
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);

    &__text-box {
      display: block;
      height: 70%;
      position: absolute;
      margin-top: 10rem;
      padding: 5rem 0;
      text-align: center;
    }
    &__heading {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1%;
    }
    
    &__description {
      font-size: 1.5rem;
      text-indent: 1rem;
      width: 90%;
      margin: 2rem auto;
    }
  }

  /* Website Responsiveness */
  @media (max-width: 1200px) {
    html {
      font-size: 8.5px;
    } 
   }
  @media (max-width: 980px) {
    html {
      font-size: 8px;
    }
    .logo {
      max-width: 10%;
    }
  }
  @media (max-width: 810px) {
    html {
      font-size: 7.5px;
    }
  }
  @media (max-width: 650px) {
    html {
      font-size: 7px;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 6px;
    }
  }
  
  @media (max-width: 330px) {
    html {
      font-size: 5.5px;
    }
  }
  