  /* Placing the font family into body so that every other element inherits it */
  body {
    /* Lato is the font style we grabbed from Google. See line 7 & 8 in index.html for reference */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-white;
    padding: 3rem;
    background-color: $color-primary;
}

.heading-primary {
    color: $color-white;
    backface-visibility: hidden;

    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 1.85rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.75rem;
      animation: moveInRight 1s ease-in-out;
    }
  }
  
.heading-secondary {
      
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 1%;
      display: inline-block;

}

#about-history{
  
      font-size: 2rem;
      text-indent: 1rem;
      width: 90%;
      margin: 2rem auto;
      
}

.event-box {
  background-color: rgba($color-secondary, 0.8);
  text-align: center;
  padding: 2.5rem;

  &__heading{
    font-size: 2rem;
  }
  &__text{
    font-size: 1.5rem;
    text-indent: 1rem;
  }
  &__img{
    max-width: 100%;
    margin-bottom: 1rem;
  }
}
