.about {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to bottom,
        rgba($color-primary, 0.3),
        rgba($color-primary, 0.95)
      ),
      url(../img/about.jpg);
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);

    &__text-box {
      display: block;
      height: 70%;
      position: absolute;
      margin-top: 10rem;
      padding: 5rem 0;
      text-align: center;
    }
    &__heading {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1%;
    }
    
    &__description {
      font-size: 1.5rem;
      text-indent: 1rem;
      width: 90%;
      margin: 2rem auto;
    }
  }