 .btn-orange{
      background-color: $color-secondary;
      color: $color-white;
      @include buttonDesign;
      text-transform: initial;
  }
.btn-white{
    background-color: rgba($color-white, .8);
    color: $color-primary;
    @include buttonDesign;
}

