/*  
Colors for Webpage 
LPE Royal Blue: #203063 | rgba(32,48,99,0.8)
LPE Navy: #536895 | rgba(83,104,149, 0.8)
UTA Primary Blue: #0064b1 | rgba(0,100,177,0.8)
UTA Secondary Blue: #00447C | rgba(0,68,124,0.8)
UTA Orange: #f58025 | rgba(245,128,37,0.8)
White: #FFFFFF | rgba(255,255,255, 1)
*/
$color-white: #ffffff;
$color-grey: #777;
$color-primary: #203063;
$color-primary-light: #536895;
$color-secondary: #f58025;
$color-black: #000000;

//Font Size
$default-font-size: 2rem;
//Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;